 {% if artists or tracks or albums %}
  <div class="bg-white shadow mt-4">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <!-- Search Result Header -->
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">Search Result</h1>

      <!-- Tabs for Search Result -->
      <div class="mt-6">
        <nav class="flex space-x-4" aria-label="Tabs">
          <!-- All Results Tab -->
          <a href="#" onclick="document.getElementById('all_results_form').submit()"
             class="rounded-md px-3 py-2 text-sm font-medium {% if active_tab == 'all_results' %}bg-gray-100 text-gray-700{% else %}text-gray-500 hover:text-gray-700{% endif %}">
            All Results
          </a>
          <!-- Artists Tab -->
          <a href="#" onclick="document.getElementById('artists_form').submit()"
             class="rounded-md px-3 py-2 text-sm font-medium {% if active_tab == 'artists' %}bg-gray-100 text-gray-700{% else %}text-gray-500 hover:text-gray-700{% endif %}">
            Artists
          </a>
          <!-- Tracks Tab -->
          <a href="#" onclick="document.getElementById('tracks_form').submit()"
             class="rounded-md px-3 py-2 text-sm font-medium {% if active_tab == 'tracks' %}bg-gray-100 text-gray-700{% else %}text-gray-500 hover:text-gray-700{% endif %}">
            Tracks
          </a>
          <!-- Albums Tab -->
          <a href="#" onclick="document.getElementById('albums_form').submit()"
             class="rounded-md px-3 py-2 text-sm font-medium {% if active_tab == 'albums' %}bg-gray-100 text-gray-700{% else %}text-gray-500 hover:text-gray-700{% endif %}">
            Albums
          </a>
        </nav>
      </div>
    </div>
  </div>

  <!-- Hidden forms for tab navigation -->
  <form id="all_results_form" method="post" action="{% url 'main_page_view' %}" style="display: none;">
    {% csrf_token %}
    <input type="hidden" name="search_query" value="{{ request.POST.search_query }}">
    <input type="hidden" name="active_tab" value="all_results">
  </form>
  <form id="artists_form" method="post" action="{% url 'main_page_view' %}" style="display: none;">
    {% csrf_token %}
    <input type="hidden" name="search_query" value="{{ request.POST.search_query }}">
    <input type="hidden" name="active_tab" value="artists">
  </form>
  <form id="tracks_form" method="post" action="{% url 'main_page_view' %}" style="display: none;">
    {% csrf_token %}
    <input type="hidden" name="search_query" value="{{ request.POST.search_query }}">
    <input type="hidden" name="active_tab" value="tracks">
  </form>
  <form id="albums_form" method="post" action="{% url 'main_page_view' %}" style="display: none;">
    {% csrf_token %}
    <input type="hidden" name="search_query" value="{{ request.POST.search_query }}">
    <input type="hidden" name="active_tab" value="albums">
  </form>
{% endif %}


<!-- Search Results -->
<main >
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8 ">
        <!-- Artists Results -->
        
        {% if active_tab == 'all_results' or active_tab == 'artists' %}
        {% if artists %}
          <div class="mt-6 border border-gray-500 p-4 rounded-md">
            <h3 class="text-xl font-bold mb-2">Artists Found:</h3>
            <ul class="flex  flex-wrap gap-6 list-none justify-between">
              {% for artist in artists %}
                <li class="flex flex-col items-center mb-4 w-1/6 max-w-xs">
                  {% if artist.images and artist.images|length > 0 %}
                    <img src="{{ artist.images.0.url }}" alt="{{ artist.name }} avatar" class="w-14 h-14 object-cover rounded-full mb-2">
                  {% else %}
                    <span class="inline-block h-14 w-14 overflow-hidden rounded-full bg-gray-100 mb-2">
                      <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
                      </svg>
                    </span>
                  {% endif %}
                  <span class="text-center">{{ artist.name }}</span>
                </li>
              {% endfor %}
            </ul>
            <!-- Pagination for Artists -->
            {% if artists.has_other_pages %}
                <div class="flex items-center justify-center mt-6">
                    <form method="post" action="{% url 'main_page_view' %}">
                        {% csrf_token %}
                        <input type="hidden" name="search_query" value="{{ request.POST.search_query }}">
                        <input type="hidden" name="active_tab" value="artists">
                        <nav class="flex gap-2" aria-label="Artists Pagination">
                            {% for page_num in artist_paginator.page_range %}
                                <button type="submit" name="artist_page" value="{{ page_num }}"
                                        class="px-4 py-2 border rounded-md text-sm font-medium
                                        {% if artists.number == page_num %}bg-gray-300{% else %}bg-white hover:bg-gray-100{% endif %}">
                                    {{ page_num }}
                                </button>
                            {% endfor %}
                        </nav>
                    </form>
                </div>
                {% endif %}
          </div>

        {% endif %}
      {% endif %}


        <!-- Tracks Results -->
        {% if active_tab == 'all_results' or active_tab == 'tracks' %}
            {% if tracks %}
            <div class="mt-6 border border-gray-500">
                <h3 class="text-xl font-bold mb-2 ">Tracks Found:</h3>
                <ul class="flex flex-wrap gap-4 list-none">
                    {% for track in tracks %}
                        <li class="flex items-start mb-4 w-full border-b border-gray-300 pb-4">
                            {% if track.album.images %}
                                <img src="{{ track.album.images.0.url }}" alt="{{ track.name }} album cover" class="w-16 h-16 object-cover rounded-lg mr-4">
                            {% endif %}
                            <div>
                                <h4 class="text-lg font-semibold">{{ track.name }}</h4>
                                <p class="text-gray-600">Artist(s):
                                    {% for artist in track.artists %}
                                        {{ artist.name }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </p>
                                <p class="text-gray-600">Album: {{ track.album.name }}</p>
                                <p class="text-gray-600">Duration: {{ track.formatted_duration }}</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                {% if tracks.has_other_pages %}
                <div class="flex items-center justify-center mt-6">
                    <form method="post" action="{% url 'main_page_view' %}">
                        {% csrf_token %}
                        <input type="hidden" name="search_query" value="{{ request.POST.search_query }}">
                        <input type="hidden" name="active_tab" value="tracks">
                        <nav class="flex gap-2" aria-label="Tracks Pagination">
                            {% for page_num in track_paginator.page_range %}
                                <button type="submit" name="track_page" value="{{ page_num }}"
                                        class="px-4 py-2 border rounded-md text-sm font-medium
                                        {% if tracks.number == page_num %}bg-gray-300{% else %}bg-white hover:bg-gray-100{% endif %}">
                                    {{ page_num }}
                                </button>
                            {% endfor %}
                        </nav>
                    </form>
                </div>
                {% endif %}
            </div>
            {% endif %}
        {% endif %}

        <!-- Albums Results -->
        {% if active_tab == 'all_results' or active_tab == 'albums' %}
            {% if albums %}
            <div class="mt-6 border border-gray-500">
                <h3 class="text-xl font-bold mb-2 ">Albums Found:</h3>
                <ul class="flex flex-wrap gap-6 list-none justify-between">
                    {% for album in albums %}
                        <li class="flex flex-col items-center mb-4 w-1/6">
                            {% if album.images %}
                                <img src="{{ album.images.0.url }}" alt="{{ album.name }} album cover" class="w-24 h-24 object-cover mb-2">
                            {% endif %}
                            <h4 class="text-lg font-semibold text-center">{{ album.name }}</h4>
                            <p class="text-gray-600 text-sm text-center">
                                Artist(s):
                                {% for artist in album.artists %}
                                    {{ artist.name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                            <p class="text-gray-600 text-sm text-center">Released: {{ album.release_year }}</p>
                        </li>
                    {% endfor %}
                </ul>

                <!-- Pagination for Albums -->
                {% if albums.has_other_pages %}
        <div class="flex items-center justify-center mt-6">
            <form method="post" action="{% url 'main_page_view' %}">
                {% csrf_token %}
                <input type="hidden" name="search_query" value="{{ request.POST.search_query }}">
                <input type="hidden" name="active_tab" value="albums">
                <nav class="flex gap-2" aria-label="Albums Pagination">
                    {% for page_num in album_paginator.page_range %}
                        <button type="submit" name="album_page" value="{{ page_num }}"
                                class="px-4 py-2 border rounded-md text-sm font-medium
                                {% if albums.number == page_num %}bg-gray-300{% else %}bg-white hover:bg-gray-100{% endif %}">
                            {{ page_num }}
                        </button>
                    {% endfor %}
                </nav>
            </form>
    </div>
{% endif %}
            </div>
            {% endif %}
        {% endif %}
    </div>
</main> 

